version: '3.8'
services:
  mongo:
    image: mongo
    container_name: mongodb-blog
    volumes:
      - mongo-data:/data/db
  backend:
    build: .
    container_name: blog-api
    ports:
      - "3001:3000"
    depends_on:
      - mongo
    volumes:
      - .:/app
    env_file:
      - .env
    command: npm run dev

volumes:
  mongo-data:
